DB_HOST=localhost
DB_NAME=db_name
DB_USER=user_name
DB_PASSWORD=db_password
DB_PORT=5432

UNIPILE_DSN=https://your_DSN
UNIPILE_API_KEY=ypur_tnipile_api_key
UNIPILE_ACCOUNT_ID=your_account_id
UNIPILE_ENABLED=true

CLOUDINARY_API_SECRET=your_cloudinary_secret
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_CLOUD_NAME=your_cloudinary_name

TELEGRAM_TOKEN=your_bot_token_from_bot_father