DB_HOST=localhost
DB_NAME=db_name
DB_USER=user_name
DB_PASSWORD=db_password
DB_PORT=5432

UNIPILE_DSN=https://your_DSN
UNIPILE_API_KEY=ypur_tnipile_api_key
UNIPILE_ACCOUNT_ID=your_account_id
UNIPILE_ENABLED=true